<% include ../partials/header %>
    <div class="jumbotron">
        <h1><i class="fa fa-shopping-cart"></i> Shopping App</h1>
        <p>Welcome to the best shopping website on the whole planet.</p>
    </div>
    <div class="row">
        <% categories.forEach(function(category){ %>
        <div class="col-md-4">
            <div class="thumbnail clearfix" id="category">
                <a href="/categories/<%= category._id %>/items"><img src="<%= category.imageUrl %>" class="img-responsive" alt="game category image"></a>
                <div class="caption">
                    <h4><%= category.name %></h4>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
<% include ../partials/footer %>